<div class="row">
    <div class="col-xl-3 col-md-6">
        <!-- card -->
        <div class="card card-h-100">
            <!-- card body -->
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-6">
                        <span class="text-muted mb-3 lh-1 d-block text-truncate">Client</span>
                        <h4 class="mb-3">
                            <span class="counter-value" data-target="{{nbruser}}">{{ nbruser }}</span>
                        </h4>
                    </div>

                    <div class="col-6 ">
                        <i style="margin-top:-35px;margin-right:10px;" class="mdi mdi-database widget-box-1-icon "></i>
                    </div>
                </div>

            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->
    <div class="col-xl-3 col-md-6">
        <!-- card -->
        <div class="card card-h-100">
            <!-- card body -->
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-6">
                        <span class="text-muted mb-3 lh-1 d-block text-truncate">Nombre de pack</span>
                        <h4 class="mb-3">
                            <span class="counter-value" data-target="{{nbrpack}}">{{ nbrpack }}</span>
                        </h4>
                    </div>

                    <div class="col-6 ">
                        <i style="margin-top:-35px;margin-right:10px;" class="mdi mdi-database widget-box-1-icon "></i>
                    </div>
                </div>

            </div><!-- end card body -->
        </div><!-- end card -->
    </div>
    <div class="col-xl-3 col-md-6">
        <!-- card -->
        <div class="card card-h-100">
            <!-- card body -->
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-6">
                        <span class="text-muted mb-3 lh-1 d-block text-truncate">Promotion</span>
                        <h4 class="mb-3">
                            <span class="counter-value" data-target="{{nbrpromotion}}">{{nbrpromotion}}</span>
                        </h4>
                    </div>

                    <div class="col-6 ">
                        <i style="margin-top:-35px;margin-right:10px;" class="mdi mdi-database widget-box-1-icon "></i>
                    </div>
                </div>

            </div><!-- end card body -->
        </div><!-- end card -->
    </div>
    <div class="col-xl-3 col-md-6">
        <!-- card -->
        <div class="card card-h-100">
            <!-- card body -->
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-6">
                        <span class="text-muted mb-3 lh-1 d-block text-truncate">Nombre de paiement</span>
                        <h4 class="mb-3">
                            <span class="counter-value" data-target="{{ nbrpaiement }}">{{ nbrpaiement }}</span>
                        </h4>
                    </div>
                    <div class="col-6">
                        <i style="margin-top:-35px;margin-right: 10px;" class="mdi mdi-archive widget-box-1-icon"></i>
                    </div>
                </div>

            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col-->
</div><!-- end row-->