{% extends 'espaceClientBase.html.twig' %}

{% block title %}Hello GerantController!{% endblock %}

{% block body %}
    <main
            class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
        <!-- Navbar -->
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
            <div class="container-fluid py-1 px-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                        <li class="breadcrumb-item text-sm">
                            <a class="opacity-5 text-dark" href="javascript:;">Pages</a>
                        </li>
                        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Dashboard</li>
                    </ol>
                    <h6 class="font-weight-bolder mb-0" style="color:brown"></h6>
                </nav>
                <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">

                    {% include 'espace_client/partail_/menu_haut.html.twig' %}

                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="container-fluid py-4">

            <div class="row mb-4">
                {% include 'espace_client/partail_/symthese.html.twig' %}
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card mb-4">
                        <div class="card-header pb-0">
                            <h6>Liste des commandes</h6>
                        </div>
                        <div class="card-body px-0 pt-0 pb-2">
                            <div class="table-responsive p-0">
                                <table class="table align-items-center mb-0">
                                    <thead>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Produit</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Paiement</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Pays</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Ville</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Adresse de livarison</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Totale</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Etat</th>

                                        <th class="text-secondary opacity-7"></th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for item in facture %}

                                        {% set produits = item.produit | split("") %}
                                        {% set produit_nbr = produits |length  %}

                                        <tr>
                                            <td>
                                                <div class="d-flex px-2 py-1">

                                                    <div class="d-flex flex-column justify-content-center">
                                                        <p class="text-xs text-secondary mb-0">00981{{item.id}}</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <p class="text-xs font-weight-bold mb-0">
                                                    {{produit_nbr}}
                                                </p>

                                            </td>

                                            <td class="align-middle text-center">
                                                {% if item.Typepaiement == 1 %}

                                                    <span class="text-secondary text-xs font-weight-bold">Virement bancaire</span>
                                                {% else %}

                                                    <span class="text-secondary text-xs font-weight-bold">Crypto</span>

                                                {% endif %}
                                            </td>
                                            <td class="align-middle text-center">
													<span class="text-secondary text-xs font-weight-bold">
														{{item.pays}}
													</span>
                                            </td>
                                            <td class="align-middle text-center">
													<span class="text-secondary text-xs font-weight-bold">
														{{item.Ville}}
													</span>
                                            </td>
                                            <td class="align-middle text-center">
													<span class="text-secondary text-xs font-weight-bold">{{item.adresselivraison}}
													</span>
                                            </td>
                                            <td class="align-middle text-center">
                                                <span class="text-secondary text-xs font-weight-bold">{{item.prixTotale}} €</span>
                                            </td>
                                            <td class="align-middle text-center text-sm">
                                                <span class="badge badge-sm bg-gradient-info">{{item.etat}}</span>
                                            </td>

                                            <td class="">

                                                <a href="{{ path('app_Commande',{id:item.id})}}" class="badge badge-sm bg-gradient-success text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                                    Voir commande
                                                </a>
                                            </td>
                                            <td class="align-middle">
                                                <a href="{{ path('app_valider',{id:item.id})}}" class="badge badge-sm bg-gradient-success text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                                    Valider
                                                </a>
                                            </td>

                                            <td class="align-middle">
                                                <a href="{{ path('app_annuller',{id:item.id})}}" class="badge badge-sm bg-gradient-success text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                                    Annuller
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
{% endblock %}
